/*@font-face {
    font-family: Montserrat;
    src: url("../fonts/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/static/Montserrat-Regular.ttf");
}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}

.navbar__item {
    color: #FF0000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.main__image {
    width: 100%;
}

.main__title {
    letter-spacing: 3.3px;
}

.main-content {
    padding: 48px 7.5px 42px 7.5px;
    letter-spacing: 2.4px;
}

.main__text {
    margin: 38px 60px;
}

 .main-content , .main__title , .main__text , .footer__text {
    color: #373737;
    font-family: 'Montserrat', sans-serif;
}

.navbar , .navbar__item , .main__title , .main__text , .button {
    text-align: center;
}


.button-wrapper {
    background-color: #FF0000;
    padding: 18px 43px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    left: 45%;
    letter-spacing: 1.8px;
}

.footer__text {
    text-align: right;
    padding: 40px 105px 29px 0;
    font-weight: bold;
    letter-spacing: 2.4px;
}